# Configuration file

general {
    # Automatically reel in and re-cast when a fish nibbles the hook. [default: true]
    B:"Enable AutoFish"=true

    # Stop fishing or switch to a new rod before the current rod breaks. [default: false]
    B:"Enable Break Protection"=true

    # Automatically switch to a new fishing rod when the current rod breaks, if one is available in the hotbar. [default: false]
    B:"Enable MultiRod"=true
}


